<div id="login-window">
	<div class="container" [ngClass]="{active: toggle}">
		<div class="card" style="display: none;"></div>
		<div class="card" [ngStyle]="{'height': toggle ? '375px' : 'auto', 'overflow': toggle ? 'hidden' : 'visible'}">
			<h1 class="title">{{'login.title' | translate}}</h1>
			<form role="form" (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
				<div class="input-container">
					<input type="text" required
					       [(ngModel)]="model.email" id="emailAddress" name="emailAddress"
					       #emailAddress="ngModel"/>
					<label for="EmailAddress">{{'login.emailAddress' | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" required id="password"
					       maxlength="64" [(ngModel)]="model.password" name="password"
					       #password="ngModel"/>
					<label for="Password">{{"login.password" | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<button type="submit" class="submitButton" [disabled]="loginForm.form.invalid"><span>{{'login.submit' | translate}}</span>
					</button>
				</div>
				<div class="footer" (click)="toggle=!toggle">
					<a href="javascript:void(0)">Forgot your password?</a>
				</div>
			</form>
		</div>
		<div class="card alt">
			<div class="toggle"></div>
			<h1 class="title">{{ 'login.recoveryPasswordTitle' | translate }}
				<div class="close" (click)="toggle=false"></div>
			</h1>
			<form role="form" (ngSubmit)="restorePassword(forgotEmailAddress)" #restorePasswordForm="ngForm" novalidate>

				<div class="input-container">
					<input type="text" required id="email"
					       pattern="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@([a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"
					       [(ngModel)]="forgotEmailAddress" name="email"
					       autocomplete="on" #email="ngModel"/>
					<label for="Email">{{"login.emailAddress" | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<button type="submit" class="forgotPasswordSubmitButton" [disabled]="restorePasswordForm.form.invalid">
						<span>{{'login.send' | translate}}</span>
						<i *ngIf="showSendMailSpinner" class="fa fa-spinner fa-pulse fa-3x fa-fw loading-spinner"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
