<div id="navigationBar" [ngClass]="{showNavigation: showNavigationBar}">
    <div class="container">
        <div class="navbar-header">
            <a [routerLink]="['/']" class="navbar-brand">SMSBox</a>
            <div class="menu-icon pull-right">
                <i class="material-icons" (click)="toggleMenu = !toggleMenu">view_headline</i>
            </div>
        </div>
        <navigation-bar-menu-tree [tree]="navigationList" [customClass]="'nav navbar-nav dropdown-toggle'"
                                  [ngClass]="{hideMenu : toggleMenu}"
        ></navigation-bar-menu-tree>
    </div>
</div>
