$color-1: #fff;
$color-2: #697882;
$color-3: #3287a9;
$color-4: #e65141;
$color-5: #4189e6;
$color-6: #dca131;
$color-7: rgba(230, 81, 65, 0.2);
$color-8: rgba(65,137,230,0.2);
$color-9: rgba(220,161,49,0.2);
$color-10: #7165c5;
$color-11: rgba(113,101,197,0.2);
$color-12: #945637;
$color-13: rgba(148,86,55,0.2);

.charts {
  > div {
    padding: 0px 3px;
    margin-bottom: 10px;

    > .wrap {
      padding: 20px;
      background-color: $color-1;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      border: 1px solid transparent;
      transition: all ease 400ms;
      display: flex;
      flex-flow: column;

      .title {
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid $color-2;
        cursor: pointer;

        * {
          color: $color-2;
        }

        span {
          font-size: 18px;
        }

        i {
          position: absolute;
          top: 0px;
          right: 0px;
        }
      }
    }

    &.status {
      > .wrap {
        min-height: 175px;
      }

      &.inbox {
        > .wrap {
          &:hover {
            border-color: $color-7;
          }
        }

        .title {
          border-bottom-color: $color-4;

          * {
            color: $color-4;
          }
        }
      }

      &.outbox {
        > .wrap {
          &:hover {
            border-color: $color-8;
          }
        }

        .title {
          border-bottom-color: $color-5;

          * {
            color: $color-5;
          }
        }
      }

      &.balance {
        > .wrap {
          &:hover {
            border-color: $color-9;
          }
        }

        .title {
          border-bottom-color: $color-6;

          * {
            color: $color-6;
          }
        }
      }

      .data {
        flex: 1;
        > .wrap {
          position: relative;
          display: table;
          width: 100%;
          height: 92px;

          .data-title {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
        }
      }
    }

    &.chart {
      > .wrap {
        min-height: 250px;
      }

      &.send {
        > .wrap {
          &:hover {
            border-color: $color-11;
          }
        }

        .title {
          border-bottom-color: $color-10;

          * {
            color: $color-10;
          }
        }
      }

      &.received {
        > .wrap {
          &:hover {
            border-color: $color-13;
          }
        }

        .title {
          border-bottom-color: $color-12;

          * {
            color: $color-12;
          }
        }
      }

      .data {
        flex: 1;
        line-chart {
          position: relative;
          display: block;
          width: 100%;
          height: 250px;
        }
      }
    }
  }
}
