.nav {
    float: left;

    > li {
        &.active {
            > a {
                background-color: #007368;

                &:focus {
                    background-color: #007368;
                }
            }
        }

        > a {
            &:hover {
                background-color: #007368;
            }
        }

        li.active {
            a {
                background-color: #eee;
            }
        }

        > navigation-bar-menu-tree > .submenu .submenu {
            top: 0px;
            left: 100%;
        }
    }

    li {
        float: left;
        position: relative;

        &:hover {
            > navigation-bar-menu-tree > .submenu {
                display: block;
            }
        }

        a {
            display: block;
            font-size: 17px;
            padding: 15px;
            color: #fff;
            text-decoration: none;
        }
    }

    .submenu {
        margin-top: 0px;
        border: none;
        border-radius: 0px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        padding: 0px;
        min-width: 80px;
        display: none;

        > li {
            > a {
                color: #007368;
                padding: 15px;
                font-size: 14px;

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}

ul, li {
    list-style-type: none;
}

@media(max-width: 768px) {
    .nav {
        width: 100%;

        .submenu {
            position: static !important;
            display: block;
            width: 100%;
            box-shadow: none !important;
        }

        li {
            width: 100%;
            border-top: 1px solid #1a635c;

            &.active > a {
                background-color: #007368 !important;
            }

            > navigation-bar-menu-tree > .submenu {
                li {
                    a {
                        padding-left: 30px !important;
                    }

                    > navigation-bar-menu-tree > .submenu {
                        li {
                            a {
                                padding-left: 60px !important;
                            }

                            > navigation-bar-menu-tree > .submenu {
                                li {
                                    a {
                                        padding-left: 90px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            a {
                color: #fff !important;
                font-size: 16px !important;
                background: #009688 !important;
            }
        }
    }
}