<div id="chat-window" style="position: relative; background: #e5e5e5;">
	<div class="menu">
		<div class="back">
			<i class="fa fa-chevron-left back-icon" (click)="location.back()"></i>
			<i class="fa fa-user user-icon" aria-hidden="true"></i>
			<div class="name">{{ message.TELEPHONE_NUMBER }}</div>
		</div>
	</div>
	<ol class="chat">
		<li [ngClass]="{other: message.STATE === 'received', self: message.STATE === 'outgoing'}"
		    *ngFor="let message of messages">

			<div class="avatar"></div>

			<div class="msg">
				<p>{{ message.MESSAGE_TEXT }}</p>
				<time>{{ message.DATE }}</time>
			</div>
		</li>
	</ol>
	<form role="form" (ngSubmit)="onSubmit()">
		<input class="textarea" type="text" name="message" [(ngModel)]="message.MESSAGE_TEXT" placeholder="Type here!"/>
		<i (click)="onSubmit()" class="material-icons send-icon">send</i>
	</form>
</div>
