<div class="wrap">
	<div id="signup" class="container">
		<div class="title">
			{{'signup.title' | translate}}
		</div>
		<form role="form" (ngSubmit)="onSubmit($event)" #signupForm="ngForm" novalidate>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="control-label">
						{{'signup.login' | translate}}
					</label>
					<input type="text" class="form-control" required
					       [(ngModel)]="model.login" name="login"
					       [ngClass]="{error: login.invalid}"
					       autocomplete="on" #login="ngModel" pattern="[A-Za-z0-9_]{4,}">
				</div>
				<div class="form-group">
					<label class="control-label">
						{{'signup.email' | translate}}
					</label>
					<input type="text" class="form-control" required
					       [(ngModel)]="model.email" name="email"
					       autocomplete="on" #email="ngModel"
					       [ngClass]="{error: email.invalid}"
					       pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
				</div>
				<div class="form-group">
					<label class="control-label">
						{{'signup.password' | translate}}
					</label>
					<input type="password" class="form-control" required
					       [(ngModel)]="model.password" name="password"
					       [ngClass]="{error: password.invalid}"
					       validateEqual="confirmPassword" reverse="true"
					       autocomplete="on" #password="ngModel" maxlength="64">
				</div>
				<div class="form-group">
					<label class="control-label">
						{{'signup.confirmPassword' | translate}}
					</label>
					<input type="password" class="form-control" required
					       [(ngModel)]="model.confirmPassword" name="confirmPassword"
					       [ngClass]="{error: confirmPassword.invalid}"
					       validateEqual="password" reverse="false"
					       autocomplete="on" #confirmPassword="ngModel" maxlength="64">
				</div>
				<div class="form-group">
					<button type="button" (click)="back()" class="backButton btn pull-left col-xs-12 col-sm-4 col-md-4">
						{{'BACK_BUTTON' | translate}}
					</button>

					<button type="submit" class="submitButton btn btn-material-primary pull-right col-xs-12 col-sm-4 col-md-4"
					        [disabled]="!signupForm.form.valid">
						{{'signup.submit' | translate}}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>