<div id="login-window">
	<div class="container">
		<div class="card" style="display: none;"></div>
		<div class="card">
			<h1 class="title">{{'signup.title' | translate}}</h1>
			<form role="form" (ngSubmit)="onSubmit()" #signupForm="ngForm" novalidate>
				<div class="input-container">
					<input type="text" required id="email" [ngClass]="{'has-data': model.email}"
					       [(ngModel)]="model.email" name="email"
					       autocomplete="on" #email="ngModel"
					       pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"/>
					<label for="email">{{"signup.emailAddress" | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" required id="password" [ngClass]="{'has-data': model.password}"
					       [(ngModel)]="model.password" name="password"
					       validateEqual="confirmPassword" reverse="true"
					       autocomplete="on" #password="ngModel" maxlength="64"/>
					<label for="password">{{"signup.password" | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" required id="confirmPassword" [ngClass]="{'has-data': model.confirmPassword}"
					       [(ngModel)]="model.confirmPassword" name="confirmPassword"
					       validateEqual="password" reverse="false"
					       autocomplete="on" #confirmPassword="ngModel" maxlength="64"/>
					<label for="confirmPassword">{{"signup.confirmPassword" | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<button type="submit" class="submitButton" [disabled]="signupForm.form.invalid">
						<span>{{'signup.submit' | translate}}</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
