<div id="crud-view-window">

	<div class="row top-panel">
		<div class="search-panel">
			<div class="row">
				<input id="search" placeholder="{{ 'crud.search' | translate }}" type="text" size="30" pInputText
				       ngModel (ngModelChange)="onFilterChanged($event, gridOptions)"/>
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
		</div>
		<div class="crud-panel">
			<button type="button" class="btn btn-primary btn-sm" id="createButton" (click)="navigateToCreate()">
				<span class="fa fa-plus"></span> {{ 'crud.create' | translate }}
			</button>
			<button type="button" class="btn btn-danger btn-sm delete-button" (click)="navigateToDelete()"
			        [disabled]="isDisabledDeleteButton">
				<span class="fa fa-trash"></span> {{ 'crud.delete' | translate }}
			</button>
		</div>
	</div>
	<ag-grid-ng2 #agGrid style="width: 100%; height: 280px;" class="ag-fresh"
	             [gridOptions]="gridOptions">
	</ag-grid-ng2>

	<p-paginator class="paginator" [rows]="10" [totalRecords]="pagination.total"
	             (onPageChange)="onPaginate($event)"
	             [rowsPerPageOptions]="rowsPerPageOptions"></p-paginator>

</div>
