#crud-view-window {

    .top-panel {
        display: flex;
        padding-bottom: 0.5em;
        padding-top: 0.5em;

        #createButton {
            margin-right: 5px;
        }

        .search-panel {
            padding: 0;
            flex-grow: 6;

            .row {
                display: flex;

                input {
                    flex-grow: 6;
                }

                i {
                    position: relative;
                    color: #697882;
                    right: 20px;
                    top: 6px;
                }
            }
        }

        .crud-panel {
            padding: 0;
            display: flex;
            justify-content: flex-end;
        }

    }

    .paginator {
        position: relative;
        top: -6px;
    }

    @media screen and (max-width: 485px) {
        .top-panel {
            flex-direction: column;

            .search-panel {
                padding: 0 0 10px 12px;
            }

            .crud-panel {
                > button {
                    flex-grow: 1;
                }
            }
        }
    }

}