<div id="dynamic-form-window">
	<form #dynamicForm="ngForm" novalidate (ngSubmit)="onSubmit()">

		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0">
			<div class="ui-grid-row" *ngFor="let item of columnDefs">
				<div class="ui-grid-col-2">
					{{ item.headerName }}
				</div>
				<div class="ui-grid-col-6">
					<input pInputText class="form-control" [(ngModel)]="model[item.field]"
					       #field="ngModel" required name="{{ item.field }}" type="text" id="{{ item.field }}">
				</div>
				<div class="ui-grid-col-4" *ngIf="field.invalid&&field.dirty">
					<div class="ui-message ui-messages-error ui-corner-all">
						<i class="fa fa-close"></i>
						{{ item.headerName + ' ' + ('crud.required' | translate) }}
					</div>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="info ui-grid-col-12">
					<p-messages id="infoMessage" [value]="growlService.msgs"></p-messages>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"></div>
				<div class="ui-grid-col-2">
					<button pButton type="button" icon="fa-chevron-left" id="backButton" (click)="location.back()"
					        label="{{ 'crud.back' | translate }}"></button>
				</div>
				<div class="ui-grid-col-2">
					<button pButton type="submit" id="{{ buttonModel.nameButton }}"
					        [disabled]="dynamicForm.invalid" icon="{{ buttonModel.iconName }}"
					        label="{{ buttonModel.nameButton | translate }}"></button>
				</div>
				<div class="ui-grid-col-4"></div>
			</div>
		</div>

	</form>
</div>
